pip
setuptools
wheel
poetry
pytest
psutil
colorama
attrs
twine
jupyterlab
ipywidgets
matplotlib
numpy
simplejson
pyyaml
opencv-python
imageio
pillow
pyheif-pillow-opener
scikit-learn
scipy
pandas
pyserial
pyzmq
sympy
torch
torchvision
torchinfo
squaternion

